@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html {
  font-family: "Rubik", sans-serif;

  /* ============ Declaration of Fonts sizes ===========  */
   --font-size-h1: clamp(2.4rem, 1.8366rem + 1.5023vw, 4rem);
   --font-size-time-window: 1.8rem;
   --font-size-activity-name: 1.8rem;
   --font-size-activity-result: clamp(3.2rem, 2.3549rem + 2.2535vw, 5.6rem);
   --font-size-activity-window: 1.5rem; 


  /* ======== Declaration of color variables=========== */

  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);  
  --Soft-blue: hsl(195, 74%, 62%);
  --light-blue: hsl(246, 80%, 60%);
  --lighter-blue: hsl(236, 33%, 46%);
  --Darkblue: hsl(235, 46%, 20%);  
  --Very-dark-blue: hsl(226, 43%, 10%);
  --light-red-work: hsl(15, 75%, 71%);
  --light-red-study: hsl(348, 85%, 69%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);

 
  /*========== Z-indexes ===========To determine how boxes overlap each other */
  --z-index-top: 10;
  --z-index-middle: 5;
  --z-index-bottom: 1;

  /* ========= Declaration of Border Radius============= */
  --br: 1.5rem;
}

body {
    margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background: var(--Very-dark-blue); 
  display: grid;
  place-items: center;
  padding: 8.1rem 2.4rem;
}


section.activity-tracker {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.4rem;
}

@media screen and (min-width: 500px) {
  section.activity-tracker {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 1fr 1fr;
    min-height: 51.8rem;
    gap: 3rem;
  }
}

@media screen and (min-width: 1110px) {
  section.activity-tracker {
    max-width: 111rem;
  }
}

section.tracker-menu {
  background: var(--Darkblue); 
  border-radius: var(--br);
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 500px) {
  section.tracker-menu {
    grid-row: 1/3;
    display: flex;
    flex-flow: column nowrap;
  }
}

.tracker-profile {
  width: 100%;
  padding: 3.1rem 2.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  background: var(--light-blue);   
  border-radius: 0 0 var(--br) var(--br);
}

@media screen and (min-width: 500px) {
  .tracker-profile {
    padding: 3.4rem 2.9rem 8rem 2.9rem;
    flex-flow: column nowrap;
    align-items: start;
    gap: 4.3rem;
    flex: 1 0 auto;
  }
}

.tracker-profile-img {
  width: 6.4rem;
  border: 0.3rem solid white;
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  .tracker-profile-img {
    width: 7.8rem;
  }
}

.tracker-profile-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
}

@media screen and (min-width: 500px) {
  .tracker-profile-container {
    gap: 0.3rem;
    max-width: 60%;
  }
}

.tracker-for {
  font-size: 1.5rem;
  color: var(--Pale-Blue); 
}

.tracker-profile-name {
  font-size: var(--font-size-h1);
  font-weight: 300;
  color: white;
}

@media screen and (min-width: 500px) {
  .tracker-profile-name {
    line-height: 4rem;
  }
}

.tracker-menu-options {
  padding: 2.4rem 2rem 2.5rem 3.3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .tracker-menu-options {
    flex-flow: column nowrap;
    gap: 2.1rem;
    padding: 2.6rem 3.2rem 3.2rem;
  }
}

.tracker-option {
  width: max-content;
  font-size: var(--font-size-time-window);
  color: var(--Desaturated-blue);
  transition: color 250ms;
  cursor: pointer;
}
.tracker-option:is(:hover, .active) {
  color: white;
}

.tracker-activity {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 3.8rem 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
  border-radius: var(--br);
}

@media screen and (min-width: 500px) {
  .tracker-activity {
    grid-template-rows: 4.5rem 1fr;
  }
}

.tracker-activity:is(.work) {
  --background: var(--light-red-work);
}
.tracker-activity:is(.play) {
  --background: var(--Soft-blue);
}
.tracker-activity:is(.study) {
  --background: var(--light-red-study);
}
.tracker-activity:is(.exercise) {
  --background: var(--lime-green);
}
.tracker-activity:is(.social) {
  --background: var(--violet); 
}
.tracker-activity:is(.self-care) {
  --background: var(--Soft-orange);
}

.activity-background {
  grid-row: 1/3;
  grid-column: 1/2;
  background: var(--background);
  display: grid;
  place-items: start end;
  height: 70%;
}

.activity-background > img {
  transform: translate(-2rem, -1rem);
  position: relative;
  z-index: var(--z-index-bottom);
}

.activity-info {
  position: relative;
  z-index: var(--z-index-middle);
  grid-row: 2/3;
  grid-column: 1/2;
  background: var(--Darkblue);  
  transition: background 250ms, transform 250ms;
  height: 100%;
  padding: 2.8rem 2.4rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.6rem;
  cursor: pointer;
}

.tracker-activity:hover > .activity-info {
  background: var(--lighter-blue); 
}

@media screen and (min-width: 500px) {
  .activity-info {
    gap: 2.4rem;
    padding: 2.9rem 3rem 3.2rem;
  }
}

.tracker-activity header,
.activity-timeframes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .activity-timeframes {
    flex-flow: column nowrap;
    align-items: start;
    gap: 0.8rem;
  }
}

.activity-name {
  color: white;
  font-weight: 500;
}

.activity-options {
  transition: white 250ms;
}
.activity-options:hover > svg path {
  fill: white;
}

.activity-timeframes-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.activity-timeframe-current {
  font-size: var(--font-size-activity-result);
  font-weight: 300;
  color: white;
  line-height: 6.6rem;
}

.activity-timeframe-previous {
  display: flex;
  font-size: var(--font-size-activity-window);
  color: var(--Pale-Blue); 
}